.one{
    background-image: url(../img/Computer\ Science.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.topnav {
    background-color: rgb(30, 167, 201);
    overflow: hidden;
    float: right;

  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav a:hover {
    background-color: rgb(39, 151, 39);
    color: black;
    }
    .topnav a.active {
        background-color:whitesmoke;
        color:black;
       }
.web {
  font-size: 230%;
  font: bolder;
  color: rgb(170, 233, 217);
  padding-left: 100px;
  padding-bottom: 50px;
  font-weight: 300;
 
}
